<!DOCTYPE html>
<html>
<head>
    <title>Новостной агрегатор</title>
    <link rel="stylesheet" href="/static/style.css">
    
</head>
<body>
    <div class="header">
        <img src="/static/images/logo.png" alt="Логотип" class="logo"> 
        <h1>АГРЕГАТОР</h1> 
    </div>

    <div class="container">
        <h1>Новостной агрегатор университетов</h1>
        <div id="statusArea">
            <button id="startScan">Запустить сканирование</button>
            <div id="loading" style="display: none;">
                <div class="loader"></div>
                <p id="progressText">Идёт сбор новостей...</p>
                <div id="university">Ожидание данных...</div>
                <div class="progress-container">
                    <div class="progress-bar">
                        <div class="progress-fill" id="progress">0%</div>
                    </div>
                    <div id="status"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <img src="/static/images/logo.png" alt="Логотип" class="logo"> 
    </div>
    
    <script src="/static/script.js"></script>
</body>
</html>
