<!DOCTYPE html>
<html>
<head>
    <title>Сканирование...</title>
    <link rel="stylesheet" href="/static/style.css">
    
</head>
<body>
    <div class="header">
        <img src="/static/images/logo.png" alt="Логотип" class="logo">
        <h1>Агрегатор</h1>
    </div>

    <div class="container">
        <div class="loader"></div>
        <p>Идет сканирование новостей...</p>
    </div>

    <div class="footer">
        <img src="/static/images/logo.png" alt="Логотип" class="logo">
    </div>
    
    <script src="/static/script.js"></script>
</body>
</html>
